body{
    background:#f4f6f9;
    padding-top:70px;
}

.navbar{
    height:70px;
}

.offcanvas{
    width:280px;
}

.nav-link{
    padding:14px 25px;
    transition:all .3s ease;
    border-left:4px solid transparent;
}

.nav-link:hover{
    background:#212529;
    border-left:4px solid #0d6efd;
    color:#fff !important;
}

.nav-link.active{
    background:#0d6efd;
    color:#fff !important;
}

.offcanvas-header{
    background:#111827;
}

.border-bottom{
    border-color:rgba(255,255,255,.1)!important;
}

.card{
    border-radius:15px;
}

.card-header{
    font-weight:600;
}

#tablaAutos img{
    transition:.3s;
}

#tablaAutos img:hover{
    transform:scale(1.8);
    cursor:pointer;
}

table.dataTable tbody tr:hover{
    background:#f8f9fa;
}

@media (max-width: 768px){

    .card{
        border-radius: 12px;
    }

    .dt-buttons{
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin-bottom: 10px;
    }

    .dt-buttons .btn{
        font-size: 12px;
        padding: 6px 10px;
    }

    #tablaAutos img{
        width: 60px !important;
        height: 45px !important;
    }

    .dataTables_filter input{
        width: 100% !important;
        margin-top: 5px;
    }
}